In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter(action = 'ignore', category = FutureWarning)

In [5]:
df =pd.read_csv(r'C:\Users\Kingsman\Downloads\Sales_add.csv')

In [6]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [12]:
df.shape

(22, 5)

In [13]:
df.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [ ]:
#H0 : there is no increase
#H1 : there is increase

In [29]:
from scipy.stats import ttest_rel

In [30]:
t_stat1, p_val2 = ttest_rel(df["Sales_before_digital_add(in $)"],df["Sales_After_digital_add(in $)"],0)

In [31]:
p_val2

6.336667004575778e-11

In [32]:
if p_val2 < 0.05:
    print('Null Hypothesis Rejected')
else:
    print('Null Hypothesis Accepted')

Null Hypothesis Rejected

In [33]:
# there is an increase in sales after digital marketing.

In [39]:
from scipy.stats import chi2_contingency

In [ ]:
#H0 : there is no dependency
#H1 : there is dependency

In [50]:
ct_table=pd.crosstab(df["Manager"],df["Region"])
print('contingency_table :\n',ct_table)

contingency_table :
 Region       Region - A  Region - B  Region - C
Manager
Manager - A           4           4           1
Manager - B           3           1           3
Manager - C           3           2           1

In [46]:
chi_stat1, pvalue1, dof, expected_freq = chi2_contingency(ct_table)

In [47]:
pvalue1

0.5493991051158094

In [49]:
if pvalue1 < 0.05:
    print('Null Hypothesis Rejected')
else:
    print('Null Hypothesis Accepted')

Null Hypothesis Accepted

there is no relation between manager and region